<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>h2 {margin-top: 6rem;}</style>
  </head>
  <body style="font-size: 1rem; grid-template-columns: 1fr min(45rem,96%) 1fr;">
    <header style="position: fixed; width: 100%;">
      <h1>{{ page.title }}</h1>
    </header>
    
    <main style="margin-top: 9rem;">
      {{ content }}
    </main>
  </body>
</html>

