<!doctype html>
<html lang="en" style="scroll-behavior: smooth;">
  <head>
    <meta charset="utf-8">
   <meta name="google-site-verification" content="rNP93eWWVPRBr9ZnBXEfUMrBWDCjvGa-Q9L76xuotAQ" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <style>h2 {margin-top: 6rem;}</style>
  </head>
  <body style="font-size: 1rem; grid-template-columns: 1fr min(45rem,96%) 1fr;">
    <header style="position: fixed; width: 100%; padding: 0 0.5rem 0.5rem 0.5rem;">
      <h2 style="margin-top: 1rem; margin-bottom: 1rem;">{{ page.title }}</h2>
      <nav style="padding: 0;">
        <a href="/#_preprints">Preprints</a>
        <a href="/#_papers">Papers</a>
        <a href="/#_books">Books</a>
        <a href="/#_notes">Notes</a>
        <a href="/#_theses">Theses</a>
        <a href="/#_talks">Talks</a>
      </nav>
    </header>
    <header style="position: static; width: 100%; visibility: hidden; padding: 0 0.5rem 0.5rem 0.5rem;">
      <h2 style="margin-top: 1rem; margin-bottom: 1rem;">{{ page.title }}</h2>
      <nav style="padding: 0;">
        <a href="/#_preprints">Preprints</a>
        <a href="/#_papers">Papers</a>
        <a href="/#_books">Books</a>
        <a href="/#_notes">Notes</a>
        <a href="/#_theses">Theses</a>
        <a href="/#_talks">Talks</a>
      </nav>
    </header>
    
    <main style="padding-top: 0.1rem;">
      {{ content }}
    </main>
  </body>
</html>

